<table>
    <tr><td><a href="/.auth/login/aad">Log in with Azure AD</a></td></tr>
    <tr><td><a href="/.auth/login/microsoftaccount">Log in with Microsoft Account</a></td></tr>
    <tr><td><a href="/.auth/login/facebook">Log in with Facebook</a></td></tr>
    <tr><td><a href="/.auth/login/google">Log in with Google</a></td></tr>
    <tr><td><a href="/.auth/login/twitter">Log in with Twitter</a></td></tr>
</table>