<li class="nav-item"><a href="/auth/debug">Anonymous</a></li>
<li class="nav-item"><a href="/.auth/login/aad?prompt=consent&post_login_redirect_url=/auth/debug">Log in with Azure AD</a></li>
<li class="nav-item"><a href="/.auth/login/microsoftaccount?post_login_redirect_url=/auth/debug">Log in with Microsoft Account</a></li>
<li class="nav-item"><a href="/.auth/login/facebook?post_login_redirect_url=/auth/debug">Log in with Facebook (TODO)</a></li>
<li class="nav-item"><a href="/.auth/login/google?post_login_redirect_url=/auth/debug">Log in with Google</a></li>
<li class="nav-item"><a href="/.auth/login/twitter?post_login_redirect_url=/auth/debug">Log in with Twitter (TODO)</a></li>
