<li class="nav-item"><a href="/.auth/login/aad?post_login_redirect_url=/">Log in with Azure AD</a></li>
<li class="nav-item"><a href="/.auth/login/microsoftaccount?post_login_redirect_url=/">Log in with Microsoft Account</a></li>
<li class="nav-item"><a href="/.auth/login/facebook?post_login_redirect_url=/">Log in with Facebook</a></li>
<li class="nav-item"><a href="/.auth/login/google?post_login_redirect_url=/">Log in with Google</a></li>
<li class="nav-item"><a href="/.auth/login/twitter?post_login_redirect_url=/">Log in with Twitter</a></li>
