h3, p {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

#tests {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tests td, #tests th {
    border: 1px solid #ddd;
    padding: 8px;
}

#tests tr:nth-child(even){background-color: #f2f2f2;}

#tests tr:hover {background-color: #ddd;}

#tests th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#tests q {color:crimson}

#tests code {font-size:100%;font-weight: bold; color:darkblue}

.minwidth { width: 1% }

.download { vertical-align:middle; padding-right: 8px }
